<!DOCTYPE html>
<html>


<head>
    <title>Spyder's Stats</title>
    <link rel="stylesheet" href="/static/css/style.css">


    <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/keen-dashboards.css">
</head>

<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">SiXDos</a>
            <a class="navbar-brand" href="spyder.html">Stats</a>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-6">
            <div class="row">

                <!-- Time Chart -->
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Data Collection Time Frame
                        </div>
                        <div class="chart-stage">
                            <div id="time-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Time Chart -->

                <!-- Species Pie -->
                <div class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Currently Processing
                        </div>
                        <div class="chart-stage">
                            <h1 id="last_proccessed">
                            </h1>

                        </div>
                    </div>
                </div>
                <!-- Species Pie -->

                <!-- Location Pie -->
                <div class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Chars Processed
                        </div>
                        <div class="chart-stage">
                            <h1 id="total_chars"></h1>
                        </div>
                    </div>
                </div>
                <!-- Location Pie -->

            </div>
        </div>

        <!-- Map -->
        <div class="col-sm-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Time Sypder Bot has run
                </div>
                <div class="chart-stage">
                    <h1 id="total_time"></h1>
                </div>
            </div>
        </div>
        <!-- Map -->

        <!-- Metric 1 -->
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Total Number of Tweets
                </div>
                <div class="chart-stage">
                    <h1 id="total_num_tweets"></h1>
                </div>
            </div>
        </div>

        <!-- Metric 1 -->
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Total Collected Twitter Users
                </div>
                <div class="chart-stage">
                    <h1 id="TotalUsers"></h1>
                </div>
            </div>
        </div>
        <!-- Metric 1 -->


        <!-- Metric 2 -->

    </div>

</div>

<hr>

</div>
<div id="fade">
</div>

<div id="modal">
    <img id="loader" src="/static/images/loading.gif"/>
</div>


</body>

<script src="/static/lib/js/jquery.min.js"></script>
<script src="/static/lib/js/crossfilter.js"></script>
<script src="/static/lib/js/queue.js"></script>
<script src="/static/lib/js/d3.js"></script>
<script src="/static/lib/js/dc.js"></script>
<script src="/static/lib/js/bootstrap.min.js"></script>
<script src="/static/lib/js/holder.js"></script>
<script>
    Holder.add_theme("white", {background: "#fff", foreground: "#a7a7a7", size: 10});
</script>

<!--<script src="/static/js/updatepage.js"></script>-->

<script>

    const numberWithCommas = (x) => {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function openModal() {
        document.getElementById('modal').style.display = 'block';
        document.getElementById('fade').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('modal').style.display = 'none';
        document.getElementById('fade').style.display = 'none';
    }

    var firsttime = true; //bool


    function loadlink() {

        $.ajax({
                type: 'Get',
                url: '/spyder/visualization',
                dataType: 'json',
                beforeSend: function () {
                    if (firsttime) {
                        openModal();
                    }
                },
                success: function (data) {
                    console.log('Submission was successful.');
                    console.log(data);
                    $("#total_num_tweets").text(numberWithCommas(data.TotalTweets));
                    $("#total_time").text(data.startTime);
                    $("#total_chars").text(numberWithCommas(data.TotalChars));
                    $("#last_proccessed").text("@" + data.LastPerson);
                    $("#TotalUsers").text(data.TotalUsers);

                },

                complete: function (data) {
                    if (firsttime) {
                        closeModal();
                        firsttime = false;
                    }

                },
                error:

                    function (data) {
                        console.log('An error occurred.');
                        console.log(data);
                    }

                ,
            }
        )
        ;


        $.ajax({
            type: 'Get',
            url: '/visualization',
            dataType: 'json',
            beforeSend: function () {
                // openModal();
            },
            success: function (data) {
                console.log('Submission was successful.');
                console.log(data);
                var project = data;
                var dateFormat = d3.time.format("%Y-%d-%m %H:%M:%S.%L");
                project.forEach(function (d) {
                    d["date"] = dateFormat.parse(d["date"]);
                });

                //Create a Crossfilter instance
                var ndx = crossfilter(project);

                //Define Dimensions
                var dateDim = ndx.dimension(function (d) {
                    return d["date"];
                });


                //Calculate metrics
                var numProjectsByDate = dateDim.group();

                var minDate = dateDim.bottom(1)[0]["date"];
                var maxDate = dateDim.top(1)[0]["date"];

                //Charts
                var timeChart = dc.barChart("#time-chart");

                timeChart
                    .width(600)
                    .height(160)
                    .margins({top: 10, right: 50, bottom: 30, left: 50})
                    .dimension(dateDim)
                    .group(numProjectsByDate)
                    .transitionDuration(500)
                    .x(d3.time.scale().domain([minDate, maxDate]))
                    .elasticY(true)
                    .xAxisLabel("Year")
                    .yAxis().ticks(4);


                dc.renderAll();


            },

            complete: function (data) {
                // closeModal();

            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
        });

    }

    loadlink()

    setInterval(function () {
        loadlink() // this will run after every 5 seconds
    }, 5000);


</script>


</html>

